
@font-face {
  font-family: 'Monserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Monserrat', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid blue;
}

.fixed-i-am {
  position: fixed;
  font-size: 16px;
  top: 200px; 
}

.fixed-skills {
  position: fixed;
  font-size: 16px;
  top: 230px;
}

.fixed-exp {
  position: fixed;
  font-size: 16px;
  width: 400px;
  top: 260px; 
}

.fixed-courses {
  position: fixed;
  font-size: 16px;
  top: 290px; 
}

.fixed-list {
  list-style-type: none;
  color: blue;
}

.background-color {
  position: relative;
  background-color: rgb(247, 244, 242);
  
}

.conteiner {
  padding: 40px;
  background-color: white;
  width: 900px;
  margin: 0 auto;
  border: solid rgb(247, 244, 242);
  border-radius: 12px;
  box-shadow: 0 0 5px 7px #ededed;
}

.header-left {
  display: inline-block;
  padding-bottom: 20px;
}

.header-right {
  display: inline-block;
  padding-left: 30px;
}

.header-name {
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 24px;
}

.verge {
  height: 30px;
  background-color: rgb(172, 210, 235);
  margin-top: 20px;
  margin-bottom: 20px;
}

.profession {
  text-align: center;
  font-size: 24px;
  line-height: 1.6;
}

.center {
  text-align: center;
  padding: 14px;
}

.section-skills-left {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}

.section-skills-right {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}

.section-skills-item {
  padding-bottom: 10px;
  line-height: 1.1;
}

.section-exp-item {
  padding-bottom: 10px;
  line-height: 1.3;
}

.achiev {
  padding-bottom: 10px;
  line-height: 1.3;
}

.parent {
  display: flex;
  justify-content: space-between;
  
}
.child {
  min-height: 150px;
  width: 150px;
  background-color: aqua;
  margin: 20px;
  padding: 20px;
}

.fixed-link-git {
  position: fixed;
  top: 320px;
  left: 50px;
}

.fixed-link-git:hover {
  border-bottom:  none;
}

.info {
  margin-bottom: 8px;
}

.octicon {
  transition: transform .3s ease;
}

.octicon:hover {
  transform: scale(1.1, 1.1);
}

.octicon:hover path {
  fill: blue;
}

path {
  transition: fill .3s ease;
}

/* tests */

.in {
  display: inline;
  margin-left: 700px;
  font-size: 30px;
  color: grey;
}

.butt {
  
  text-align: center;
  line-height: 50px;
  margin-right: auto;
  margin-bottom: 30px;
  color: white;
  width: 100px;
  height: 50px;
  border: transparent;
  font-size: 20px;
  border-radius: 12px;
  background-color: blue;
}

.box {
  height: 400px;
  width: 400px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 50%;
}

.i-can {
  margin-left: 30px;
}

.margin {
  margin-bottom: 12px;
}

.link-of-diploma {
  color: blue;
}

.courses-item {
  margin-bottom: 10px;
}

.id-about-me {
  text-align: center;
}